body {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #202020;
}

html {
    cursor: none;
}

.canvas {
    position: absolute;
    border-radius: 8px;
}

#background {
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
}

#object {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
}

#effect {
    z-index: 20;
    background-color: rgba(0, 0, 0, 0);
}

#texteffect {
    z-index: 30;
    background-color: rgba(0, 0, 0, 0);
}

#ui {
    z-index: 40;
    background-color: rgba(0, 0, 0, 0);
}

#overlay {
    z-index: 50;
    background-color: rgba(0, 0, 0, 0);
}

#overlayeffect {
    z-index: 60;
    background-color: rgba(0, 0, 0, 0);
}

#overlayhigh {
    z-index: 70;
    background-color: rgba(0, 0, 0, 0);
}

#top {
    z-index: 80;
    background-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./font/PretendardVariable.woff2') format('woff2-variations');
}